<mat-toolbar class="header" role="banner">
    <div class="hamburger">
      <app-menu></app-menu>
    </div>
    <nav class="socials">
      <div class="link" id="github">
        <a aria-label="my github" href="https://github.com/chrisnmendoza" title="my github" target="_blank" rel="noreferrer noopener">
          <img alt="Github Logo" src="assets/img/github.png"/>
        </a>
      </div>
      <div class="link" id="linkedin">
        <a aria-label="my linkedin" href="https://www.linkedin.com/in/christopherneilmendoza/" title="my linkedin" target="_blank" rel="noreferrer noopener">
          <img alt="Linkedin Logo" src="assets/img/linkedin.png"/>
        </a>
      </div>
    </nav>
</mat-toolbar>