img {
    height: 65%;
    width: 65%;
}

.content {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    background-color: #e7e982;
    padding: 20px;
    border-radius: 25px;
    height: 100%;
    line-height: 40px;
}

.content2 {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    padding: 40px;
    border-radius: 25px;
    height: 100%;
    line-height: 50px;
}

.spacer {
    padding-top: 15px;
    padding-bottom: 15px;
}