
div {
    border-color: black;
    border: 5px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.infoBox-container {
    display: flex;
    height: 800px;
    width: fit-content;
    overflow: auto;
    white-space: normal;
}

.infoBox {
    height:250px;
    width:250px;
    border: 3px solid blue;
    background-color: #fafafa;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.infoBox:hover {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    height: 530px;
    width: 530px;
}

img {
    height: 82%;
    width: 82%;
}

.blueLink {
    color: blue;
}


.smaller {
    width:100px;
}

h1 {
    padding-bottom: 30px;
}

.others {
    width: 1200px;
    margin: auto;
    border: 0px;
}