html, body {
    margin: 0;
    background:blue;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

div {
    text-align: center;
}

.kipper {
    padding-top: 30px;
}


img {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 300px;
    float: right;
}

.content {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    background-color: #ffd1dc;
    padding: 20px;
    border-radius: 25px;
    min-height: 500px;
    display:inline-flex;
}

.content2 {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    background-color: #9db8f1;
    padding: 20px;
    border-radius: 25px;
    min-height: 300px;
    text-align: center;
}

.itemLeft {
    width: 100%;
    min-width: 200px;
    max-width: 450px;
    line-height:25px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.itemRight {
    float: right;
    width: 90%;
    height: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

.link {
    float: left;
    width: 150px;
}

.spacer {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
    height: 400px;
    width: 1200px;
    border: 1px solid black;
    margin: auto;
    overflow-y:hidden;
    transition: all 0.2s ease-in-out;
  }
  
  .cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
    padding-top:45px;
    transition: all 0.2s ease-in-out;
  }
  
  .cdk-virtual-scroll-data-source-example .example-item {
    width: 50px;
    height: 100%;
    writing-mode: vertical-lr;
  }


  .infoBox {
    height:500px;
    width:530px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.infoBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}

.mini {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:384px;
    width:530px;
    max-width:600px;
    float: none;
    border-radius: 10px;
}
